# ~/.gitconfig
[alias]
    co = checkout
    ci = commit -a
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[color]
    ui = always
[core]
    editor = nvim
[push]
    default = simple
[user]
    name = osman
    email = osman@surkatty.org
[credential]
    helper = store
[credential "https://github.com"]
    # Github uses "Personal access tokens" as passwords for their HTTPS
    # protocol. You can generate one at: https://github.com/settings/tokens
    username = breadtk
[pull]
	rebase = false
