[user]
	name = First Last
	email = email@address.com
[github]
	user = GitHubUsername
[core]
	editor = vim
[alias]
  co = checkout
  ci = commit -a
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
