[user]
    name = osman
    email = github.com@surkatty.org
[github]
    user = breadtk
[core]
    editor = vim
[alias]
    co = checkout
    ci = commit -a
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[push]
    default = simple
[credential "https://github.com"]
	username = breadtk
	password = # Retrieve from https://github.com/settings/tokens
