# SSH Config file
host *
	Compression yes

	# Prevent disconnects
	TCPKeepAlive yes
	ServerAliveInterval 5
	
	# Overwrites default timeout.
	ConnectTimeout 5

	# Masks ~/.ssh/known_host file entries. Can be cirumvented.
	HashKnownHosts yes

	# Mo' betta security.
	Protocol 2

	# All SSH connections must be setup separately
	ControlMaster no

host example
	hostname ssh.example.com
	user alice
	IdentityFile ~/.ssh/id_dsa

host example2
	hostname ssh.example.org
	user bob
	IdentityFile ~/.ssh/id_rsa
