# SSH Config file
host *

  # Ciphers chosen based on advisories that exist as of
  # 2013-03-01. Revisit around ~2014
  Ciphers aes256-ctr,aes128-cbc,aes256-cbc,aes128-cbc

  # This occurs after connection is established.
  Compression yes

  # Overwrites default timeout.
  ConnectTimeout 3

  # All SSH connections must be setup separately
  ControlMaster no
  ControlPath none

  # Masks known_host file entries. It can be reversed.
  HashKnownHosts yes

  # Mo' betta security.
  Protocol 2

  # Prevent disconnects
  TCPKeepAlive yes
  ServerAliveInterval 5

host example
  hostname ssh.example.com
  user alice
  IdentityFile ~/.ssh/id_dsa

host example2
  hostname ssh.example.org
  user bob
  IdentityFile ~/.ssh/id_rsa
