# To use this file, please copy it to ~/.ssh/config
#
# This file needs to be sorted from the most specific to least specific as this
# is the order in which OpenSSH will evaluate it. If multiple values match, only
# the first matched value is used.

host example
    hostname ssh.example.com
    user alice
    IdentityFile ~/.ssh/id_rsa

host example2
    hostname 1.2.3.4
    user bob

host *
    # These algorithms are supported on OS X 10.10+ and modern Linux distros. If
    # any of them do not work, consult 'man ssh_config' to see your system
    # specific algorithms. Revisit around ~2016
    Ciphers aes256-ctr,aes192-ctr,aes128-ctr
    KexAlgorithms diffie-hellman-group-exchange-sha256
    MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

    # Improve performance at the cost of CPU
    Compression yes

    # Prevents minor accidents
    ForwardAgent no
    ForwardX11 no

    # Overwrites default timeout.
    ConnectTimeout 3

    # All SSH connections must be setup separately
    ControlMaster no
    ControlPath none

    # Obfuscate ~/.ssh/known_host file entries. Is still reversible.
    HashKnownHosts yes

    # Mo' betta security.
    Protocol 2

    # Prevent disconnects
    TCPKeepAlive yes
    ServerAliveInterval 5
    ServerAliveCountMax 6
